@import "tailwindcss";

:root {
  color-scheme: light dark;
  --color-redd: #6E1011;
}

@theme  {
  --font-roboto: var(--font-roboto);
  --color-red: #6E1011;
  --color-orange: #F58E1C;
  --color-green: #46731E;
  --color-bej: #FFF8F0;
  --color-brown: #482D08;
  --color-bejD: #FEEEDB;
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

body {
  
  font-family: Arial, Helvetica, sans-serif;
}
